@import "./setup";
@import "./fontsAndColors";
@import "./mixins";

// main styles
* {
  border: 1px solid lightcoral;
  font-size: 62.5%;
}

body {
  background: $specialWhite;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 6.8rem;
  font-weight: 400;
}

h2 {
  font-family: $primaryFont;
  font-size: 3.3rem;
  line-height: 5.8rem;
  letter-spacing: 0.21rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
}

h3 {
  @include h3Styles();
}

h4 {
  @include h4Styles();
}

// li {
//   font-size: 2rem;
// }

img {
  width: 100%;
}

p {
  font-family: $secondaryFont;
  font-weight: 400;
  line-height: 3.2rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

button {
  font-family: $primaryFont;
  font-size: 2rem;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  padding: 7px 12px 7px 12px;
  color: #f5f5f5;
  background: $buttonColor;
  border: 1px solid $buttonColor;
  text-transform: uppercase;
}

span {
  font-size: 2rem;
  font-weight: 700;
}
// START OF HEADER

.mainHeader {
  background-image: url(../assets/header-home.jpg);
  height: 100vh;
  @include headerStyles();
}

.headerContent {
  display: flex;
  justify-content: space-between;
}

.headerSofa {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.headerSofa img {
  width: 100%;
}

.logo {
  font-family: $logoFont;
  font-weight: 400;
  line-height: 6.4rem;
  font-size: 6.8rem;
  text-transform: uppercase;
  z-index: 3;
}

.navigation li {
  list-style-type: none;
}

.navigation {
  display: flex;
}

nav ul a {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $secondaryFont;
  color: $specialBlack;
  text-decoration: none;
  margin-left: 40px;
}

nav ul a:hover {
  border-bottom: 2px solid $accentColor;
}

// END OF HEADER

//New Materials Section Start

.materialsSection {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.materialContent > h2 p {
  width: 90%;
}

.materialsCombo {
  position: relative;
}

.materialsPic {
  z-index: 2;
}

.yellowBox {
  width: 304px;
  height: 304px;
  background: $accentColor;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

// en dof new materials

// Gallery Start

.gallery {
  background-color: $specialGreen;
  padding-top: 50px;
  padding-bottom: 50px;
}

.galleryContainer {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 30%;
}

.box img {
  width: 100%;
}

.flexTest {
  display: flex;
}

// GALLERY END

// START OF FEATURES
.features {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.featureBox {
  width: 50%;
  display: flex;
}

// .icon{
//   width: 50%;
// }

.fas {
  font-size: 2.3rem;
  background: $accentColor;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.fab {
  font-size: 2.3rem;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: $buttonColor;
}

.featureBox h2 {
  margin: 0;
}

// Read More

.readMore {
  display: flex;
  flex-wrap: wrap;
  background: $specialGreen;
  padding: 50px 0 50px 0;
}

.readBox {
  width: 50%;
}

.readBox img {
  width: 85%;
  object-fit: cover;
}

.newLocationsText {
  text-align: right;
}

.newLocationsText {
  padding: 40px;
}

.groupProgramsText {
  padding: 40px;
}

// end of readmore

//Bottom Banner Image

.bottomBannerImage {
  display: flex;
  background-size: contain;
  margin-bottom: 100px;
}

.bottomBannerImage img {
  width: 100%;
}

//Bottom Style Section

.bottomBanner {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomBannerText {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-direction: column;
}

// .bottomBanner h2,
// .bottomBanner p,
// .bottomBanner button {
//   // justify-content: center;
//   text-align: center;
// }

.bottomBanner p {
  width: 90%;
  text-align: left;
}

.bottomBanner button {
  margin: 0 auto;
}

// FOOTER START
footer {
  height: 5vh;
  background: $specialBlack;
  color: $specialWhite;
  font-size: 2rem;
  text-align: center;
  padding: 10px 0 10px 0;
  font-family: $secondaryFont;
  font-weight: 400;
  margin-top: 100px;
}

//FOOTER END

// blog header

.blogBody {
  background-color: $specialGreen;
}

.blogHeader {
  background-image: url(../assets/blog-image.jpg);
  height: 50vh;
  // display: flex;
  // flex-wrap: wrap;
  @include headerStyles();
  // justify-content: space-between;
}

.blogheaderTitle {
  display: flex;
  justify-content: space-between;
}

.blogTitleAndLogo {
  display: flex;
  flex-direction: column;
}

.blogTitleAndLogo h3 {
  margin-bottom: 63px;
}

// end of blog header

// blog and side bar layout

.blogAndSideBar {
  display: flex;
  justify-content: space-between;
}

.blogPost {
  width: 60%;
  background-color: $specialWhite;
  margin-bottom: 30px;
}

.blogDate {
  font-style: italic;
}
.blogPostText {
  padding-left: 20px;
}

.sideBar {
  width: 20%;
  background-color: $accentColor;
  position: relative;
  height: 50vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sideBarText {
  position: absolute;
  top: 304px;
  padding: 10px;
}

.sideBarImage img {
  position: absolute;
  left: 14px;
  top: -20px;
  border: 1px solid black;
}

.recentPostList li {
  font-size: 5rem;
}

// end of blog and side bar layout

// comment box layout

.commentSection {
  width: 60%;
}

.commentContainer {
  display: flex;
  padding-top: 10px;
}

.commentText {
  width: 100%;
}

// BLOG FORM START

.blogForm {
  font-size: 6rem;
  font-family: $secondaryFont;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

// input {
//   border: none;
//   border-bottom: 1px solid $buttonColor;
//   background-color: $specialGreen;
//   font-family: $secondaryFont;
//   text-transform: uppercase;
//   font-size: 2rem;
//   padding-top: 20px;
//   // width: 30%;
// }

.blogFieldSet input{
  border: none;
  border-bottom: 1px solid $buttonColor;
  background-color: $specialGreen;
  font-family: $secondaryFont;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 20px;
  width: 30%;
}


.blogTextArea{
  border: 1px solid $buttonColor;
  background-color: $specialGreen;
  display: block;
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: $secondaryFont;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 20px;
  padding-left: 20px;
  width: 60%;
}

.blogButton {
  width: 60%;
}

// End of Blog

// Contact Page
.contactBody {
  background-color: $specialGreen;
}

.contactHeader {
  @include headerStyles();
  background-image: url(../assets/contact-image.jpg);
  height: 50vh;
}

.contactFormContainer {
  width: 60%;
  position: relative;
  top: -100px;
}

.contactFormContainer .textArea,
.contactButton {
  width: 100%;
}
.contactFormContainer .email {
  width: 50%;
}

.formAndInfo {
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.contactFieldSet {
  background-color: $specialWhite;
  width: 100%;
  padding: 35px;
  // position: relative;
}

.contactTextArea {
  border: 1px solid $buttonColor;
  background-color: $specialWhite;
  display: block;
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: $secondaryFont;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
}

.yellowBoxSibling {
  z-index: 2;
  position: absolute;
}

// .contactFieldSet .name,
// .contactEmail,
// .textArea {
//   background-color: $specialWhite;
// }

.contactFieldSet input {
  border: none;
  border-bottom: 1px solid $buttonColor;
  background-color: $specialWhite;
  font-family: $secondaryFont;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 20px;
}

.socialAndContactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.companyInfo p {
  margin: 0;
}

.companyEmail {
  padding-bottom: 20px;
}

.contactYellowBox {
  width: 100%;
  height: 100%;
  background-color: $accentColor;
  z-index: -1;
  position: absolute;
  top: 31px;
}
